@using Portal.Models.AccountVM
@model StudentRegisterViewModel
@{
    ViewData["Title"] = "Registreren als student";
}

@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="row justify-content-center">
        <div class="col-md-10 p-0">
            <div class="alert alert-danger mt-3" role="alert">
                <div asp-validation-summary="All"></div>
            </div>
        </div>
    </div>
}

<div class="row mx-3 mt-3">
    <div class="col-md-12 p-0">
        <i class="bi bi-arrow-left" onclick="history.back(1)"></i>
    </div>
</div>

<div class="row justify-content-center my-4">
    <div class="col-md-5 bg-blue border-right-o d-flex align-items-center justify-content-center py-5 c-box-shadow">
        <h1 class="login-header text-center">student</h1>
    </div>
    <div class="col-md-5 bg-grey p-5 c-box-shadow">
        <form asp-action="RegisterStudent" asp-controller="Account" method="post">
            <div class="form-group mb-4">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" placeholder="John" />
            </div>
            <div class="form-group mb-4">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" placeholder="Doe" />
            </div>
            <div class="form-group mb-4">
                <label asp-for="DateOfBirth" class="form-label"></label>
                <div class="input-group">
                    <input asp-for="DateOfBirth" type="date" class="form-control" />
                    <div class="input-group-append">
                        <div class="input-group-text-right"><i class="bi bi-calendar-date"></i></div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-4">
                <label asp-for="EmailAddress" class="form-label"></label>
                <input asp-for="EmailAddress" class="form-control" placeholder="johndoe@gmail.com" />
            </div>
            <div class="form-group mb-4">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="0612983476" />
            </div>
            <div class="form-group mb-4">
                <label asp-for="StudentNumber" class="form-label"></label>
                <input asp-for="StudentNumber" class="form-control" placeholder="6346913" />
            </div>
            <div class="form-group mb-4">
                <label asp-for="StudyCity" class="form-label"></label>
                <select asp-for="StudyCity" class="form-control form-select" asp-items="Html.GetEnumSelectList<Cities>()">
                    <option>Kies stad</option>
                </select>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control" placeholder="********" />
            </div>
            Al een account? <a class="blue-text link-hover" asp-controller="Account" asp-action="Login"><b>Log hier in!</b></a>
            <button type="submit" class="btn btn-blue btn-big w-100 mt-2">Registreren</button>
        </form>
    </div>
</div>