:root {
    --blue: #1E458A;
    --orange: #F7903E;
    --grey: #ECEDEF;
    --white: #FFFFFF;
    --black: #000000;
}

/* START - GENERAL */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--grey) !important;
    min-height: 100vh !important;
}

h1, h2, h3, h4 {
    font-family: 'Seaford', sans-serif !important;
}

h1, h2, h3, h4 {
    font-weight: bold;
    color: var(--blue);
}

h4 {
    font-size: 1.25rem;
}

.container {
    background-color: var(--white) !important;
}

.head-container {
    padding: 0 !important;
}

.bg-blue {
    background-color: var(--blue) !important;
}

.bg-grey {
    background-color: var(--grey) !important;
}

.bi-arrow-left {
    font-size: 28px !important;
    color: var(--blue);
    cursor: pointer;
}

.white-text {
    color: var(--white) !important;
}

.blue-text {
    color: var(--blue) !important;
}

.orange-text {
    color: var(--orange) !important;
}

.border-blue {
    border: 3px solid var(--blue) !important;
}

.border-orange {
    border: 3px solid var(--orange) !important;
}

.border-top-o {
    border-top: 5px solid var(--orange) !important;
}

.border-right-o {
    border-right: 5px solid var(--orange) !important;
}

.border-bottom-o {
    border-bottom: 5px solid var(--orange) !important;
}

.alert {
    padding: 10px 0px 0px 0px !important;
}

.mr-2 {
    margin-right: 2rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ch-100 {
    height: 500px !important;
}

.c-box-shadow {
    box-shadow: 5px 5px 10px 0px rgba(97,97,97,1);
}

.c-f-size {
    font-size: 22px !important;
}

.icon {
    font-size: 20px !important;
}
/* END - GENERAL */

/* START - NAV */
.nav {
    margin: 0px !important;
}

li {
    list-style-type: none !important;
}

.dropdown-item:active {
    background-color: var(--white) !important;
}

.dropdown-menu > a {
    color: var(--black) !important;
    background-color: var(--white) !important;
}

    .dropdown-menu > a:hover {
        background-color: var(--blue) !important;
        color: var(--white) !important;
    }

.navbar-toggler {
    color: var(--white) !important;
}
/* END - NAV */
/* START - LOGIN */
.login-header {
    font-size: 60px;
    color: var(--white);
    text-transform: uppercase;
}

.link-hover:hover {
    color: var(--orange) !important;
}
/* END - LOGIN */

/* START - FORM */
.form-control {
    padding: 10px;
    border: 2px solid var(--blue) !important;
}

input:placeholder-shown {
    font-style: italic;
}

.input-group-text-right {
    border: 2px solid var(--blue) !important;
    border-right: none !important;
    background-color: var(--blue);
    color: var(--white);
    padding: 10px;
    border-radius: 0px 4px 4px 0px;
}

.input-group-text-left {
    border: 2px solid var(--blue) !important;
    border-right: none !important;
    background-color: var(--blue);
    color: var(--white);
    padding: 10px;
    border-radius: 4px 0px 0px 4px;
}
/* END - FORM */

/* START - CARDS */
.card {
    border: 3px solid var(--blue);
    box-shadow: 5px 5px 10px 0px rgba(97,97,97,1);
}

.card-img-top {
    border-bottom: 3px solid var(--blue);
    height: 200px;
    object-fit: contain;
}

.card-body {
    font-size: 14px;
}

.price-tag {
    border-right: 3px solid var(--blue) !important;
    border-bottom: 3px solid var(--blue) !important;
    padding: 5px;
    font-size: 30px;
    z-index: 2;
    background-color: var(--white);
}
/* END - CARDS */

/* START - BUTTON */
.btn-blue {
    font-family: 'Seaford', sans-serif !important;
    background-color: var(--blue);
    color: var(--white);
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    border: 3px solid var(--blue) !important;
}

.btn-big {
    font-family: 'Seaford', sans-serif !important;
    font-size: 20px !important;
}

.btn-blue:hover {
    background-color: transparent;
    color: var(--blue);
}

.btn:focus, .btn:active, .form-control:focus {
    outline: none !important;
    box-shadow: none;
}
/* END - BUTTON */

/* START - IMG */
img {
    pointer-events: none;
}

.img-contain {
    object-fit: contain;
}

.img-banner {
    max-width: 1100px !important;
}

.detail-img {
    height: 400px;
    object-fit: contain;
}
/* END - IMG */

@media (max-width: 1200px) {
    .login-header {
        font-size: 48px;
    }

    .img-banner {
        max-width: 800px !important;
    }
}

@media (max-width: 1024px) {
    body, .link-hover {
        font-size: 14px !important;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    h6 {
        font-size: 12px;
    }

    a {
        font-size: 14px;
    }

    .ch-100 {
        height: 50vh !important;
    }

    .btn {
        font-size: 10px !important;
    }

    .btn-big {
        font-size: 12px !important;
    }

    .card .btn {
        font-size: 11px;
    }

    .dropdown-menu > a {
        padding-left: 5px !important;
        font-size: 14px;
    }

    .login-header {
        font-size: 40px;
    }

    .img-banner {
        max-width: 500px !important;
    }

    .form-control {
        padding: 5px !important;
        font-size: 14px;
    }

    .price-tag {
        font-size: 16px !important;
    }

    .card {
        width: 100% !important;
    }

    .card-img-top {
        height: 150px;
    }
}

@media (max-width: 750px) {
    body, .link-hover {
        font-size: 11px !important;
    }

    h1, h6 {
        margin-top: 20px;
    }

    .ml-2 {
        margin: 0px;
    }

    .btn {
        font-size: 11px;
    }

    .dropdown-menu > a {
        font-size: 11px;
    }

    .border-right-o {
        border-right: none !important;
        border-bottom: 5px solid var(--orange) !important;
    }

    .c-box-shadow {
        box-shadow: 1px 0px 5px 0px rgba(97,97,97,1);
    }

    .card {
        width: 14rem !important;
    }

    .img-banner {
        max-width: 450px !important;
    }

    .detail-img {
        height: 200px;
    }

    .avans-logo {
        display: none;
    }
}

@media (max-width: 480px) {
    .ch-100 {
        height: 40vh !important;
    }

    .img-banner {
        max-width: 280px !important;
    }

    .card {
        width: 100% !important;
    }
}