@model LoginViewModel
@{
    ViewData["Title"] = "Registreren";
}


<div class="text-center">
    <a class="btn btn-primary" asp-controller="Account" asp-action="RegisterStudent">Student</a>
    <a class="btn btn-primary" asp-controller="Account" asp-action="RegisterCanteenEmployee">Kantine medewerker</a>
</div>

