@model IEnumerable<Packet>
@{
    ViewData["Title"] = "Mijn aangeboden pakketten";
}

<div class="row">
    @foreach (var packet in @Model)
    {
        <div class="col-3 mb-5">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://8xpub.com/img/p/vn-default-large_default.jpg" alt="Default img">
                <div class="card-body">
                    <h5 class="card-title">@packet.Name</h5>
                    <div class="btn-group">
                        <a class="btn btn-primary" asp-controller="Packet" asp-action="Detail" asp-route-id="@packet.PacketId">Alle details</a>
                        <a class="btn btn-primary" asp-controller="Packet" asp-action="UpdatePacket" asp-route-id="@packet.PacketId">Bewerken</a>
                        <form asp-controller="Packet" asp-action="DeletePacket" asp-route-id="@packet.PacketId" method="post">
                            <button class="btn btn-danger" type="submit">Verwijderen</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>