@model PacketViewModel
@{
    ViewData["Title"] = "Stel pakket samen";
}

<div class="row mx-3 mt-3">
    <div class="col-md-12 p-0">
        <a asp-controller="Packet" asp-action="Index"><i class="bi bi-arrow-left"></i></a>
    </div>
</div>

@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="row justify-content-center">
        <div class="col-md-10 px-5">
            @foreach (var modelError in ViewData.ModelState.SelectMany(key => key.Value!.Errors))
            {
                <div class="alert alert-danger mt-3" role="alert">
                    <p class="px-3"><i class="bi bi-bell"></i> @modelError.ErrorMessage</p>
                </div>
            }
        </div>
    </div>
}

<div class="row justify-content-center">
    <div class="col-md-10 px-5 py-3">
        <h1>Stel pakket samen</h1>
    </div>
</div>
<form asp-action="CreatePacket" asp-controller="Packet" method="post">
    <div class="row justify-content-center">
        <div class="col-md-5 px-5 pb-2">
            <div class="form-group mb-4">
                <label asp-for="Packet.Name" class="form-label"></label>
                <input asp-for="Packet.Name" class="form-control" placeholder="Drankpakket" />
            </div>
            <div class="form-group mb-4">
                <label asp-for="Packet.MealType" class="form-label"></label>
                <select asp-for="Packet.MealType" class="form-control form-select" asp-items="Html.GetEnumSelectList<MealTypes>()">
                    <option selected disabled>Kies type</option>
                </select>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Packet.Price" class="form-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text-left"><i class="bi bi-currency-euro"></i></div>
                    </div>
                    <input asp-for="Packet.Price" class="form-control" placeholder="4,99" />
                </div>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Packet.PickUpDateTime" class="form-label"></label>
                <div class="input-group">
                    <input asp-for="Packet.PickUpDateTime" class="form-control" />
                    <div class="input-group-append">
                        <div class="input-group-text-right"><i class="bi bi-calendar-date"></i></div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Packet.LatestPickUpTime" class="form-label"></label>
                <div class="input-group">
                    <input asp-for="Packet.LatestPickUpTime" class="form-control" />
                    <div class="input-group-append">
                        <div class="input-group-text-right"><i class="bi bi-calendar-date"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 px-5">
            <div class="form-group mb-4">
                <label asp-for="Packet.Products" class="form-label"></label>
                @foreach (var product in Model.AllProducts!)
                {
                    <div class="checkbox">
                        <input type="checkbox" name="SelectedProducts" value="@product.Value" @(Model.SelectedProducts!.Contains(product.Value) ? "checked" : "") />
                        @product.Text
                    </div>
                }
            </div>
        </div>
        <div class="col-md-5 px-5">
            <button type="submit" class="btn btn-blue btn-big w-100 my-2">Aanmaken</button>
        </div>
        <div class="col-md-5"></div>
    </div>
</form>
