@model CanteenEmployeeRegisterViewModel
@{
    ViewData["Title"] = "Registreren als kantine medewerker";
}

<div class="row mx-3 mt-3">
    <div class="col-md-12 p-0">
        <a asp-controller="Account" asp-action="Register"><i class="bi bi-arrow-left"></i></a>
    </div>
</div>

@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="row justify-content-center">
        <div class="col-md-10 p-0">
            @foreach (var modelError in ViewData.ModelState.SelectMany(key => key.Value!.Errors))
            {
                <div class="alert alert-danger mt-3" role="alert">
                    <p class="px-3"><i class="bi bi-bell"></i> @modelError.ErrorMessage</p>
                </div>
            }
        </div>
    </div>
}

<div class="row justify-content-center my-5">
    <div class="col-md-5 bg-blue border-right-o d-flex align-items-center justify-content-center py-5 c-box-shadow">
        <h1 class="login-header text-center">Kantine medewerker</h1>
    </div>
    <div class="col-md-5 bg-grey p-5 c-box-shadow">
        <form asp-action="RegisterCanteenEmployee" asp-controller="Account" method="post">
            <div class="form-group mb-4">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" placeholder="John" />
            </div>
            <div class="form-group mb-4">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" placeholder="Doe" />
            </div>
            <div class="form-group mb-4">
                <label asp-for="EmployeeNumber" class="form-label"></label>
                <input asp-for="EmployeeNumber" class="form-control" placeholder="926163" />
            </div>
            <div class="form-group mb-4">
                <label asp-for="Location" class="form-label"></label>
                <select asp-for="Location" class="form-control form-select" asp-items="Html.GetEnumSelectList<Location>()">
                    <option selected disabled>Kies locatie</option>
                </select>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control" placeholder="********" />
            </div>
            Al een account? <a class="blue-text link-hover" asp-controller="Account" asp-action="Login"><b>Log hier in!</b></a>
            <button type="submit" class="btn btn-blue btn-big w-100 mt-2">Registreren</button>
        </form>
    </div>
</div>